<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Contactos</h3>
                </div>
                <div class="panel-body">
                    <h4>A Costureirinha</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Morada:</label>
                            <p>
                                Rua Correia de Sá, 17
                                <br />
                                4150-229 Porto
                                <br />
                                Portugal
                            </p>
                        </div>
                        <div class="col-md-6">
                            <label>Horário:</label>
                            <p>
                                Segunda a Sexta Feira - 9:30h às 18:30h
                                <br />
                                Sábados - 9h às 13h
                                <br />
                                Domingos e Feriados - Encerrada
                            </p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label>Contacto telefónico:</label>
                            <p>
                                938764411
                            </p>
                        </div>
                        <div class="col-md-6">
                            <label>Email:</label>
                            <p>
                                <a href="mailto:costureirinha.do.porto@gmail.com">costureirinha.do.porto@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <br />
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d750.928710109928!2d-8.659296670736527!3d41.16257330834939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24658772c378a5%3A0xe6111f02fdad1826!2sR.+Correia+de+S%C3%A1+17%2C+Porto%2C+Portugal!5e0!3m2!1spt-PT!2spt!4v1470138854630"
                                class="embed-responsive-item" width="600" height="450" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->